.App {
  text-align: center;
}





.App-header {
  background-color: #185c45;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px;
  flex: 10;
}

.App-link {
  color: #61dafb;
}

.instrument-link{
  border-style: none;
  border-width: 10px;
  width: 200px;
  border-radius: 2px;
  
  /* align-items: right;
  flex-direction: column; */
  
  /* align-self: center;
  justify-self: center; */
  color: white;
  font-size: 20px;
  
  background-color: #d4c3c2;
  color: white;
  margin-bottom: 75px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.instruments {
  /* border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  color: white; */
  background-color: rgb(87, 126, 89);
  /* padding: 15px; */
  font-size: 16px;
  font-style: bold;
  text-decoration:none;
}

